* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nimbus Sans L";
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  width: 100%;
}

#nav {
  display: flex;
  justify-content: space-between;
  padding: 2vw 10vw;
}
#nleft {
  display: flex;
  gap: 30px;
}
#nav a {
  font-weight: 800;
  font-size: 12px;
  text-decoration: none;
  color: #000;
}
#hero {
  width: 100%;
  margin-top: 15vw;
  padding: 0 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#sustain {
  width: 10vw;
}
#sustain p {
  font-size: 12px;
  font-weight: 800;
  opacity: 0.5;
  margin: 10px 0;
  line-height: 1;
  text-transform: capitalize;
}

#sustain #susimagewrapper {
  width: 100%;
  overflow: hidden;
  height: 15vw;
  position: relative;
}

#susimagewrapper img {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 140%;
  height: 140%;
  object-fit: cover;
}

#eqhemeral {
  position: relative;
  width: 30vw;
  min-height: 42vw;
  /* background-color: rgb(229, 221, 221); */
}

#eqhemeral #headings {
  top: -22%;
  left: -20%;
  position: absolute;
}

#eqhemeral img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#eqhemeral p {
  margin-top: 30px;
  font-size: 1.3vw;
  letter-spacing: -0.07vw;
  line-height: 1.3;
  width: 40%;
}

#eqhemeral h1 {
  letter-spacing: -0.5vw;
  line-height: 1;
  font-size: 6vw;
  font-weight: 400;
}

#visit {
  display: flex;
  gap: 10px;
  align-items: center;
}

#visit #criclev {
  border-radius: 50%;
  display: flex;
  align-items: center;
  width: 3vw;
  height: 3vw;
  border: 1px solid #dadada;
  justify-content: center;
}

#criclev i {
  color: #5e5e5e;
}

#visit h3 {
  font-weight: 400;
  color: #5e5e5e;
}

#motive {
  display: flex;
  margin-top: 7vw;
  justify-content: space-between;
  padding: 3vw 10vw;
}

#motive p {
  line-height: 1.7;
  letter-spacing: -0.12vw;
  width: 90%;
  position: relative;
  right: 0;
  font-size: 2.1vw;
  flex-wrap: wrap;
  text-align: right;
}

#motive span {
  margin: 0 13px;
  border-radius: 100px;
  display: inline-block;
  margin-bottom: -12.5px;
}

#onespan {
  width: 80px;
  height: 50px;
  background-image: url(Assets/bluegirl.jpg);
  background-size: cover;
  background-position: 0 60%;
}

#twospan {
  width: 130px;
  height: 60px;
  background-image: url(Assets/shaljam.jpg);
  background-size: cover;
  background-position: 0 48%;
}
#threespan {
  width: 80px;
  height: 50px;
  background-image: url(Assets/grass.jpg);
  background-size: cover;
  background-position: 0 60%;
}

#pictures {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  padding: 3vw;
  padding-left: 14vw;
  padding-right: 12vw;
}

#firstpic {
  width: 17vw;
}

#firstpic #picimg {
  width: 100%;
  height: 24vw;
  margin-bottom: 1vw;
}
#picimg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#firstpic h1,
#secpic h1 {
  letter-spacing: -0.1vw;
  font-weight: 100;
  font-size: 2vw;
}

#firstpic p,
#secpic p {
  font-size: 1vw;
  letter-spacing: -0.07vw;
  line-height: 1;
  margin-top: 10px;
  opacity: 0.8;
}

#secpic {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 25vw;
}

#secpic #picimg {
  width: 100%;
  height: 37vw;
  margin-bottom: 1vw;
}

#secpic p {
  width: 50%;
  text-align: right;
}

#banner {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 8vw;
}

#bimg {
  width: 65%;
  height: 60vh;
  background-color: red;
}
#bimg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 0 70%;
}
#btext {
  width: 35%;
  padding: 0 3vw;
}
#btext h1 {
  font-size: 2.8vw;
  font-weight: 400;
  letter-spacing: -0.15vw;

  line-height: 1;
}
#btext p {
  margin-bottom: 20px;
  width: 60%;
  font-size: 1vw;
}

#future {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#future video {
    opacity: 1;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#ftext{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 99;
    background-color: #fff;
    padding: 1vw 2vw;
    border-radius: 10xp;
}
#ftext button{
    padding: .8vw 1.7vw;
    font-size: .6vw;
    text-transform: capitalize;
    margin-top: 10px;
    border-radius: 100px;
    background-color: #fff;
    border: 1px solid #6c6c6c;
    color: #686868;
    font-weight: 700;
}